<!-- форма Фамилия Имя Отчество Email Пароль Должность -->

<form style="font-size: 1.15rem" #accountForm="ngForm" (ngSubmit)="onSubmit(accountForm)">
  <div class="form-group">
    <label for="lastname">Фамилия</label>
    <input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel" pattern="^[А-Я][а-я]+$" required ngModel>
  </div>
  <div>
    <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)">
  <!--      <span style="color: red"> Н</span>-->
      <div *ngIf="lastname.errors?.['required']">
        <span style="color: red">Введите фамилию</span>
      </div>
      <div *ngIf="lastname.errors?.['pattern']">
        <span style="color: red">Некорректная фамилия</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="firstname">Имя</label>
    <input type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel" pattern="^[А-Я][а-я]+$" required ngModel>
  </div>
  <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">
    <!--      <span style="color: red"> Н</span>-->
    <div *ngIf="firstname.errors?.['required']">
      <span style="color: red">Введите имя</span>
    </div>
    <div *ngIf="firstname.errors?.['pattern']">
      <span style="color: red">Некорректное имя</span>
    </div>
  </div>

  <div class="form-group">
    <label for="middlename">Отчество</label>
    <input type="text" class="form-control" id="middlename" name="middlename" #middlename="ngModel" pattern="^[А-Я][а-я]+$" ngModel>
  </div>
  <div *ngIf="!middlename?.valid && (middlename?.dirty || middlename?.touched)">
    <div *ngIf="middlename.errors?.['pattern']">
      <span style="color: red">Некорректное отчество</span>
    </div>
  </div>

  <div class="form-group">
    <label for="role">Роль</label>
    <select id="role" class="form-control" name="role" #role="ngModel" required ngModel>
      <option [ngValue]="role" *ngFor="let role of rolesList">
        {{role}}
      </option>
    </select>
  </div>
  <div *ngIf="!role?.valid && (role?.dirty || role?.touched)">
    <!--      <span style="color: red"> Н</span>-->
    <div *ngIf="role.errors?.['required']">
      <span style="color: red">Выберите роль</span>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" #email="ngModel" required email ngModel>
  </div>
  <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
    <div *ngIf="email.errors?.['required']">
      <span style="color: red">Укажите email</span>
    </div>
    <div *ngIf="email.errors?.['email']">
      <span style="color: red">Некорректный email</span>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" class="form-control" id="password" name="password" #password="ngModel" required minlength="6" pattern="^[a-z0-9!_A-Z]+$" maxlength="20" ngModel>
  </div>
  <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
    <div *ngIf="password.errors?.['required']">
      <span style="color: red">Укажите пароль</span>
    </div>
    <div *ngIf="password.errors?.['pattern']">
      <span style="color: orangered">Допустимые символы: цифры, буквы латинского алфавита</span>
    </div>
    <div *ngIf="password.errors?.['minlength']">
      <span style="color: orange">Минимальная длина пароля - 6 символов</span>
    </div>
    <div *ngIf="password.errors?.['maxlength']">
      <span style="color: orange">Максимальная длина пароля - 20 символов</span>
    </div>
  </div>

  <p>
    <button type="submit" class="btn btn-primary" style="margin: 10%" [disabled]="!accountForm.valid">Добавить</button>
  </p>

  <div class="row line">

  </div>

</form>
