<app-navbar></app-navbar>
<div class="main">

  <div class="container px-4">

    <div class="row line1 gx-1">
      <div class="task col text-end">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/tasks">Задачи</button>
        </div>
      </div>
      <div class="col">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/notifications">Уведомления</button>
        </div>
      </div>
    </div>

    <div class="row line gx-1" *ngIf="employee?.role?.name ==='Medic'">
      <div class="col text-end">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/medicPage">Управление</button>
        </div>
      </div>
      <div class="col">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" (click)="openGuardModal(guardModal)">Вызов Хантера</button>
        </div>
      </div>
    </div>

    <div class="row line" *ngIf="employee?.role?.name==='Medic'">
    </div>

    <div class="row line gx-1" *ngIf="employee?.role?.name ==='Manager'">
      <div class="col text-end">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/">Управление</button>
        </div>
      </div>
      <div class="col">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/">Персонал</button>
        </div>
      </div>
    </div>

    <div class="row line gx-1" *ngIf="employee?.role?.name ==='Manager'">
      <div class="col text-end">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/">Динозавры</button>
        </div>
      </div>
      <div class="col">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value" class="btn btn-primary col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5" routerLink="/">*</button>
        </div>
      </div>
    </div>

    <div class="row line gx-1" *ngIf="employee?.role?.name ==='Hunter'">
    </div>

    <!--    <div class="row" *ngIf="employee.role==='DinoTrainer'">-->
    <!--      <button class="col-0">Отчет о занятии</button>-->
    <!--    </div>-->

    <div class="row line2 gx-1">
      <div class="col text-center">
        <div class="p-2">
          <button type="button" [disabled]="alarm.value && employee?.role?.name!=='Manager'" class="btn btn-danger col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" routerLink="/alarm">Тревога</button>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #guardModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Вызов хантера</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="hunter" class="form-label">ИД Хантера: </label>
        <div *ngIf="hunterList?.length">
          <select id="hunter" type=number name="id" class="form-select" #sel="ngModel" required ngModel>
            <option *ngFor="let hunterItem of hunterList">
              {{hunterItem}}
            </option>
          </select>
          <div *ngIf="!sel?.dirty && !sel?.touched" class="text-info">Выберите доступного Хантера</div>
          <div class="text-danger" *ngIf="sel?.invalid && sel?.touched">Выберите доступного Хантера</div>
        </div>
        <div *ngIf="currentHunterID">
          <p id="hunter" type=number name="id" class="form-control" #sel="ngModel" required ngModel>{{currentHunterID}}</p>
          <div class="text-danger" *ngIf="sel?.invalid && sel?.touched">Это поле обязательное</div>
          <div *ngIf="!sel?.dirty && !sel?.touched" class="text-info">Запрос был отправлен указанному Хантеру</div>
        </div>

        <div class="progress1">
          <span class="form-text">Подтверждение: </span>
          <span class="progress-circle" *ngIf="progressStatus === 0">
            <circle-progress id="progress0" [backgroundColor]="'gray'"></circle-progress>
          </span>
          <span class="progress-circle" *ngIf="progressStatus === 1">
            <circle-progress id="progress1" [backgroundColor]="'yellow'"></circle-progress>
          </span>
          <span class="progress-circle" *ngIf="progressStatus === 2">
            <circle-progress id="progress2" [backgroundColor]="'green'"></circle-progress>
          </span>
          <span class="progress-circle" *ngIf="progressStatus === 3">
            <circle-progress id="progress3" [backgroundColor]="'red'"></circle-progress>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="hunterList?.length" class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Отменить</button>
    <button data-dismiss="modal" [disabled]="f.invalid" class="btn btn-primary" (click)="onSubmit(f)">Подтвердить</button>
  </div>
</ng-template>
