/*.container1 {*/
/*  max-width: 4000px;*/
/*  padding: 15px;*/
/*  margin-top: 10%;*/
/*}*/

.line1{
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.line{
  margin-top: 1rem;
}
.line2{
  margin-top: 5rem;
}

.progress-circle {
  margin: 1rem;
  text-align: center;
}

.progress1 {
  margin-top: 2rem;
  text-align: center;
}

button{
  font-family: Roboto;
  height: 3rem;
  font-size: 1rem;
}

.center{
  position: absolute;
  margin-left: 10em;
}

.form-text{
  text-align: center;
}

.ng-invalid:not(form).ng-touched{
  border: 2px solid red;
}
.red-text {
  color: red;
}
