<app-navbar></app-navbar>
<!--
<header>
  <div class="container">
    <p>Медик</p>
    <p class="burger">Бургер</p>
  </div>
</header>
-->
<div class="main">
  <div class="container1">
    <div class="row">
      <button mat-raised-button color="primary" class="col-1">*</button>
      <button mat-raised-button color="primary" class="col-2" routerLink="/notification">Уведомления</button>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" class="col-1" routerLink="/medicPage">Управление</button>
      <button mat-raised-button color="primary" class="col-2">*</button>
    </div>
    <div class="row" *ngIf="employeeType=='Medic'">
      <button mat-raised-button color="accent" class="col-0" routerLink="/medicPage">Вызов Хантера</button>
    </div>
    <div class="row" *ngIf="employeeType=='DinoTrainer'">
      <button class="col-0">Отчет о занятии</button>
    </div>
    <div class="row">
      <button mat-raised-button color="warn" class="col-0" routerLink="/alarm">Тревога</button>
    </div>
  </div>
</div>
