@media (min-width: 1200px) {
  .container {
    width: 1000px;
    font-size: 0.9rem;
    /*color: black;*/
    border: black;
  }
}

.container {
  width: 50rem;
  /*max-height: 40rem;*/
  font-size: 0.9rem;
  border: black;
}

.form-select, .btn{
  font-size: 0.9rem;
}

.mat-button{
  font-size: 0.7rem;
}

.mat-cell {
  font-size: 0.8rem;
}

table {
  background-color: #f9f993;
  width: 100%;
  font-size: 0.9rem;
  /*background-size: 40rem 200rem;*/

}

input {
  font-size: 0.9rem;
}
