<header class="navbar"  [ngClass]="{'navbar-fixed': isFixedNavbar, 'alarm': isAlarmOn}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="navbar-mobile-top" fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="navbar-logo">
        <img src="../../assets/profile.ico" width="60rem">
        <p class="role" *ngIf="employeeRole=='Medic'">Медик</p>
        <p class="role" *ngIf="employeeRole=='Manager'">Управляющий</p>
        <p class="role" *ngIf="employeeRole=='Navigator'">Навигатор</p>
        <p class="role" *ngIf="employeeRole=='Hunter'">Хантер</p>
        <p class="role" *ngIf="employeeRole=='DinoTrainer'">Дрессировщик</p>
        <p class="role" *ngIf="employeeRole=='Driver'">Водитель</p>
        <p class="alarm-text" *ngIf="isAlarmOn && alarmType=='Attack'">Внимание, нападение дино!</p>
        <p class="alarm-text" *ngIf="isAlarmOn && alarmType=='Escape'">Внимание, сбежал дино!</p>
      </div>
      <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <a mat-button class="navbar-btn"><strong>Log Out</strong></a>
      <a mat-button  class="navbar-btn" ><strong>Something</strong></a>
    </div>
  </div>
</header>
