<header class="navbar"  [ngClass]="{'navbar-fixed': isFixedNavbar, 'alarm': alarm?.value}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="navbar-mobile-top" fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="navbar-logo">
        <img src="../../assets/profile.ico" width="60rem">
        <p class="role" *ngIf="employee?.role?.name=='Medic'">Медик {{employee?.firstName}}</p>
        <p class="role" *ngIf="employee?.role?.name=='Manager'">Управляющий {{employee?.firstName}}</p>
        <p class="role" *ngIf="employee?.role?.name=='Navigator'">Навигатор {{employee?.firstName}}</p>
        <p class="role" *ngIf="employee?.role?.name=='Hunter'">Хантер {{employee?.firstName}}</p>
        <p class="role" *ngIf="employee?.role?.name=='DinoTrainer'">Дрессировщик {{employee?.firstName}}</p>
        <p class="role" *ngIf="employee?.role?.name=='Driver'">Водитель {{employee?.firstName}}</p>

        <p class="alarm-text" *ngIf="alarm?.value && alarm?.name=='Attack'">Внимание, нападение дино!</p>
        <p class="alarm-text" *ngIf="alarm?.value && alarm?.name=='Escape'">Внимание, сбежал дино!</p>
      </div>
      <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-navbar">
      <span fxFlex></span>
<!--      <a mat-button class="navbar-btn"><strong>О парке</strong></a>-->
      <a mat-button  class="navbar-btn" (click)="this.auth.logout()" routerLink="/login"><strong>Выйти</strong></a>
    </div>
  </div>
</header>
