<div class="container">
  <form style="font-size: 0.8em" #accountForm="ngForm" (ngSubmit)="onSubmit(accountForm)">
    <div class="form-group">
      <label for="name">Кличка</label>
      <input type="text" class="form-control" id="name" name="name" #name="ngModel" pattern="^[А-Я][а-я]+$" required ngModel>
    </div>
    <div>
      <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
    <!--      <span style="color: red"> Н</span>-->
        <div *ngIf="name.errors?.['required']">
          <span style="color: red">Введите кличку</span>
        </div>
        <div *ngIf="name.errors?.['pattern']">
          <span style="color: red">Некорректная кличка</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="type">Вид</label>
      <select id="type" class="form-control form-select" name="type" #type="ngModel" required ngModel>
        <option *ngFor="let type of typeList">
          {{type}}
        </option>
      </select>
    </div>
    <div *ngIf="!type?.valid && (type?.dirty || type?.touched)">
      <!--      <span style="color: red"> Н</span>-->
      <div *ngIf="type.errors?.['required']">
        <span style="color: red">Выберите вид</span>
      </div>
    </div>

    <div class="form-group">
      <label for="age">Возраст</label>
      <select id="age" class="form-control form-select" name="age" #age="ngModel" required ngModel>
        <option *ngFor="let age of ageList">
          {{age}}
        </option>
      </select>
    </div>
    <div *ngIf="!age?.valid && (age?.dirty || age?.touched)">
      <!--      <span style="color: red"> Н</span>-->
      <div *ngIf="age.errors?.['required']">
        <span style="color: red">Выберите возраст</span>
      </div>
    </div>

    <div class="form-group">
      <label for="height">Рост, см</label>
      <input type="number" class="form-control" id="height" name="height" #height="ngModel" required [min]="10" [max]="1000" ngModel>
    </div>
    <div *ngIf="!height?.valid && (height?.dirty || height?.touched)">
      <div *ngIf="age.errors?.['required']">
        <span style="color: red">Укажите рост</span>
      </div>
      <div *ngIf="height.errors?.['min'] || height.errors?.['max']">
        <span style="color: red">Недопустимый рост</span>
      </div>
    </div>

    <div class="form-group">
      <label for="weight">Вес, кг</label>
      <input type="number" class="form-control" id="weight" name="weight" #weight="ngModel" required [min]="5" [max]="10000" ngModel>
    </div>
    <div *ngIf="!weight?.valid && (weight?.dirty || weight?.touched)">
      <div *ngIf="age.errors?.['required']">
        <span style="color: red">Укажите вес</span>
      </div>
      <div *ngIf="weight.errors?.['min'] || weight.errors?.['max']">
        <span style="color: red">Недопустимый вес</span>
      </div>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="location">Локация</label>-->
<!--      <input type="text" class="form-control" id="location" name="location" #type="ngModel" pattern="^[А-Я][а-я]+$" required ngModel>-->
<!--    </div>-->
<!--    <div *ngIf="!type?.valid && (type?.dirty || type?.touched)">-->
<!--      &lt;!&ndash;      <span style="color: red"> Н</span>&ndash;&gt;-->
<!--      <div *ngIf="type.errors?.['required']">-->
<!--        <span style="color: red">Введите локацию</span>-->
<!--      </div>-->
<!--      <div *ngIf="type  .errors?.['pattern']">-->
<!--        <span style="color: red">Некорректное локацию</span>-->
<!--      </div>-->
<!--    </div>-->

    <p>
      <button type="submit" class="btn btn-primary" style="margin: 5%" [disabled]="!accountForm.valid">Добавить</button>
    </p>

    <div class="row line">

    </div>

  </form>
</div>
