<form style="font-size: 0.8rem" #accountForm="ngForm" (ngSubmit)="onSubmit(accountForm)">
  <div class="form-group">
    <label for="id">ИД</label>
    <input type="text" class="form-control" [readonly]="true" id="id" name="id" required [(ngModel)]="dino.id">
    <button class="btn btn-warning" style="margin-top: 0.5rem; margin-left: 1.3rem" (click)="deleteUser(accountForm.value.id)">Удалить аккаунт</button>
  </div>

  <div class="form-group">
    <label for="name">Кличка</label>
    <input type="text" class="form-control" id="name" name="name" #name="ngModel" pattern="^[А-Я][а-я]+$" required [(ngModel)]="dino.name">
  </div>
  <div>
    <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
      <!--      <span style="color: red"> Н</span>-->
      <div *ngIf="name.errors?.['required']">
        <span style="color: red">Введите кличку</span>
      </div>
      <div *ngIf="name.errors?.['pattern']">
        <span style="color: red">Некорректная кличка</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="type">Вид</label>
    <input type="text" class="form-control" id="type" name="firstName" #type="ngModel" pattern="^[А-Я][а-я]+$" required [(ngModel)]="dino.type">
  </div>
  <div *ngIf="!type?.valid && (type?.dirty || type?.touched)">
    <!--      <span style="color: red"> Н</span>-->
    <div *ngIf="type.errors?.['required']">
      <span style="color: red">Введите вид</span>
    </div>
    <div *ngIf="type  .errors?.['pattern']">
      <span style="color: red">Некорректный вид</span>
    </div>
  </div>

  <div class="form-group">
    <label for="age">Возраст</label>
    <select id="age" class="form-control" name="age" #age="ngModel" required [(ngModel)]="dino.age">
      <option *ngFor="let age of ageList">
        {{age}}
      </option>
    </select>
  </div>
  <div *ngIf="!age?.valid && (age?.dirty || age?.touched)">
    <!--      <span style="color: red"> Н</span>-->
    <div *ngIf="age.errors?.['required']">
      <span style="color: red">Выберите возраст</span>
    </div>
  </div>

  <div class="form-group">
    <label for="height">Рост</label>
    <input type="number" class="form-control" id="height" name="height" #height="ngModel" required [min]="10" [max]="1000" [(ngModel)]="dino.height">
  </div>
  <div *ngIf="!height?.valid && (height?.dirty || height?.touched)">
    <div *ngIf="age.errors?.['required']">
      <span style="color: red">Укажите рост</span>
    </div>
    <div *ngIf="height.errors?.['min'] || height.errors?.['max']">
      <span style="color: red">Недопустимый рост</span>
    </div>
  </div>

  <div class="form-group">
    <label for="weight">Вес</label>
    <input type="number" class="form-control" id="weight" name="weight" #weight="ngModel" required [min]="5" [max]="10000" [(ngModel)]="dino.weight">
  </div>
  <div *ngIf="!weight?.valid && (weight?.dirty || weight?.touched)">
    <div *ngIf="age.errors?.['required']">
      <span style="color: red">Укажите вес</span>
    </div>
    <div *ngIf="weight.errors?.['min'] || weight.errors?.['max']">
      <span style="color: red">Недопустимый вес</span>
    </div>
  </div>

  <p>
    <button type="submit" class="btn btn-primary" style="margin: 5%; margin-left: 2.5rem" [disabled]="!accountForm.valid">Изменить</button>
  </p>

  <div class="row line">

  </div>

</form>
