<div class="container" >
  <form class="mat-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-card-content">
      <span class="mat-card-title">Войти в систему</span>
      <div class="mat-input-field">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="email" required [ngClass]="{'invalid': form.get('email')?.invalid}">
        <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <span *ngIf="form.hasError('required', 'email')" class="helper-text red-text">Email не должен быть пустым</span>
          <span *ngIf="form.hasError('email', 'email')" class="helper-text red-text">Введите корректный Email</span>
        </span>
      </div>
      <div class="mat-input-field">
        <label for="password">Пароль:</label>
        <input formControlName="password" id="password" type="password" required [ngClass]="{'invalid': form.get('password')?.invalid}">
        <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <span *ngIf="form.hasError('required', 'password')" class="helper-text red-text">Пароль не может быть пустым</span>
          <span *ngIf="form.hasError('minlength', 'password')" class="helper-text red-text">Минимальная длина пароля 6 символов</span>
        </span>
      </div>
      <div class="mat-card-action">
        <button type="submit" [disabled]="form?.invalid || form?.disabled" class="btn btn-primary modal-action waves-effect">Войти</button>
      </div>
    </div>
  </form>
</div>
