<header>
  <p>Управление тревогой</p>
</header>
<div class="main">
  <div class="container1">

    <div class="g-0" [ngClass]="{'myCSSclass' : isAlarmOn}">
    </div>
    <div class="g-0">
      <button mat-raised-button (click)="changeAlarm()" color="warn" class="col-0" *ngIf="isAlarmOn==false">Включить тревогу!</button>
      <button mat-raised-button (click)="changeAlarm()" color="primary" class="col-0" *ngIf="isAlarmOn==true && employeeType==='Manager'">Отключить тревогу!</button>
    </div>
    <div class="g-0">
    </div>
    <div class="g-0">
      <button mat-raised-button color="accent" class="col-0" routerLink="/content">Назад</button>
    </div>
  </div>
</div>
