<header [ngClass]="{'alarm' : isAlarmOn}">
  <p>Управление тревогой</p>
</header>
<div class="main">
  <div class="container1">

    <div class="g-0">
    </div>
    <div class="g-0">
      <button mat-raised-button (click)="changeAlarm(0)" color="warn" class="col-0" *ngIf="!isAlarmOn">Нападение динозавра!</button>
      <button mat-raised-button (click)="changeAlarm(1)" color="warn" class="col-0" *ngIf="!isAlarmOn">Побег динозавра!</button>
      <button mat-raised-button (click)="changeAlarm(2)" color="primary" class="col-0" *ngIf="isAlarmOn && employeeType==='Manager'">Отключить тревогу!</button>
    </div>
    <div class="g-0">
    </div>
    <div class="g-0">
      <button mat-raised-button color="accent" class="col-0" routerLink="/content">Назад</button>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
