header{
  background-color: orange;
}
.line1{
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.line{
  margin-top: 3rem;
}
.line2{
  margin-top: 5rem;
}

button{
  font-family: Roboto;
  height: 3rem;
}


.alarm {
  background-color: red;
}
