<mat-toolbar class="mat-elevation-z8" [ngClass]="{'alarm': appService.alarm?.value}">
  Парк Юрского Периода
  <p class="alarm-text info-str" *ngIf="appService.alarm?.value && appService.alarm?.type=='Attack'">Внимание, нападение дино!</p>
  <p class="alarm-text info-str" *ngIf="appService.alarm?.value && appService.alarm?.type=='Escape'">Внимание, сбежал дино!</p>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened>
    <h4 class="name">{{this.employee.firstName}}</h4>
    <p class="designation fst-italic">Управляющий</p>
    <button mat-button class="menu-button" [disabled]="appService.alarm?.value" [routerLink]="[{ outlets: { sidebar: ['notifications'] } }]">
      <span>Уведомления</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [disabled]="appService.alarm?.value" [routerLink]="[{ outlets: { sidebar: ['schedule'] } }]">
      <span>Расписания</span>
    </button>
    <button mat-button class="menu-button" [disabled]="appService.alarm?.value" [routerLink]="[{ outlets: { sidebar: ['personal'] } }]">
      <mat-icon>person</mat-icon>
      <span>Сотрудники</span>
    </button>
    <button mat-button class="menu-button" [disabled]="appService.alarm?.value">
      <mat-icon>info</mat-icon>
      <span>Динозавры</span>
    </button>
    <button mat-button [disabled]="appService.alarm?.value" style="margin-top:20px" color='accent' class="btn mat-button" routerLink="/login">
      <span>Выход</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button style="margin-top:260px" color="warn" class="mat-flat-button" routerLink="/alarm">
      <span>Тревога</span>
    </button>
  </mat-sidenav>

    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet name='sidebar'></router-outlet>
      </div>
  </mat-sidenav-content>

</mat-sidenav-container>
