mat-toolbar {
  background: #ff6300;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  height: 94%;
  border-right: none;
  background: #002b5c;
    /*#002b5c;*/
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: 94%;
  max-width: 96%;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.0rem;
  color: gray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  /*font-size: 1.1rem;*/
}

button {
  width: 140px;
}


.alarm {
  background-color: red;
}

.alarm:hover {
  background-color: darkorange;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.info-str {
  padding-top: 1.1rem;
}
.alarm-text{
  font-size: 1.5rem;
  padding-left: 3em;
}
.alarm:hover {
  background-color: darkorange;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.btn-cont{
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
