header{
  background-color: orange;
}

.line1{
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.line{
  margin-top: 3rem;
}
.line2{
  margin-top: 5rem;
}

.alarm {
  background-color: red;
}

.table {
  width: 100%;

}

.tt {
  width: 100%;
}


.mat-cell {
  text-align: center;
  border-right: 1px solid gray;
}
.mat-header-cell {
  text-align: center;
  border-right: 1px solid gray;
  font-size: larger;
  border-bottom: 3px solid gray;
}

table {
  border: 4px solid gray;
}
