header{
  background-color: orange;
}

.line1{
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.line{
  margin-top: 3rem;
}
.line2{
  margin-top: 5rem;
}

.alarm {
  background-color: red;
}

.table {
  width: 100%;

}

.tt {
  width: 100%;
}
