<header xmlns="http://www.w3.org/1999/html" [ngClass]="{'alarm' : appService.alarm?.value}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Транспортировка</h2>
      </div>
    </div>
  </div>
</header>
<!--*ngIf="appService.employee.role.name == 'Navigator'"-->
<div class="main" style="margin-top: 5rem">
  <div class="container">
<!--    <div class="row line1">-->
<!--      <div class="text-center">-->
<!--        <button type="button" [disabled]="appService.alarm?.value || appService.employee.role.name !== 'Navigator'" class="btn btn-primary col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3">Транспортировки</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row line">-->
<!--      <div class="text-center">-->
<!--        <button type="button" [disabled]="appService.alarm?.value || appService.employee.role.name !== 'Navigator'" class="btn btn-primary col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3">ХЗ че</button>-->
<!--      </div>-->
<!--    </div>-->
    <form class="naviform" #f="ngForm">
      <div class="row justify-content-center">
        <div class="col-4">
          <p *ngIf="medic.taskStatusId == 0 && dinoTrainer.taskStatusId == 0 && driver.taskStatusId == 0"class="text-center">
            <label for="location">Локация:</label>
            <select [disabled]="medic.taskStatusId > 0 || dinoTrainer.taskStatusId > 0 || driver.taskStatusId > 0" (change)="getRecommendations(f.value.location); f.controls['dino_id'].reset(); f.controls['medic_id'].reset(); f.controls['trainer_id'].reset(); f.controls['driver_id'].reset()" id="location" type="text" name="location" #location class="form-select" required ngModel>
              <option> </option>
              <option *ngFor="let location of locationList">
                {{location}}
              </option>
            </select>
          </p>
        </div>
        <div class="col-4">
          <p *ngIf="medic.taskStatusId == 0 && dinoTrainer.taskStatusId == 0 && driver.taskStatusId == 0" class="text-center">
            <label for="dino">Динозавр:</label>
            <select [disabled]="!f.value.location || medic.taskStatusId > 0 || dinoTrainer.taskStatusId > 0 || driver.taskStatusId > 0" id="dino" type=number name="dino_id" class="form-select" required ngModel>
              <option></option>
              <option *ngFor="let dinoItem of dinoList" (click)="f.controls['medic_id'].reset(); f.controls['trainer_id'].reset(); f.controls['driver_id'].reset()">
                {{dinoItem}}
              </option>
            </select>
          </p>
        </div>
      </div>
      <div class="row text-center" style="padding: 0.2rem;">
        <div class="col mat-title">Роль</div>
        <div class="col mat-title">Сотрудник</div>
        <div class="col mat-title">Подтверждение</div>
      </div>
      <div class="row text-center justify-content-center card-title">
        <div class="col" style="margin-top: 1.25rem">Медик</div>
        <div class="col">
          <select [disabled]="!f.value.dino_id && medic.taskStatusId != 4" style="margin-top: 1rem" id="medic" type=number name="medic_id" class="form-select" required [(ngModel)]="medic.id">
            <option> </option>
            <option *ngFor="let medicItem of medicList">
              {{medicItem}}
            </option>
          </select>
        </div>
        <div class="col">
          <span *ngIf="medic.taskStatusId == 0">
            <circle-progress [backgroundColor]="'gray'"></circle-progress>
          </span>
          <span *ngIf="medic.taskStatusId == 1">
            <circle-progress [backgroundColor]="'yellow'"></circle-progress>
          </span>
          <span *ngIf="medic.taskStatusId == 2">
            <circle-progress [backgroundColor]="'chartreuse'"></circle-progress>
          </span>
          <span *ngIf="medic.taskStatusId == 3">
            <circle-progress [backgroundColor]="'green'"></circle-progress>
          </span>
          <span *ngIf="medic.taskStatusId == 4">
            <circle-progress [backgroundColor]="'red'"></circle-progress>
          </span>
          <span *ngIf="medic.taskStatusId == 5">
            <circle-progress [backgroundColor]="'gray'"></circle-progress>
          </span>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col" style="margin-top: 1.25rem">Дрессировщик</div>
        <div class="col">
          <select [disabled]="!f.value.dino_id && dinoTrainer.taskStatusId != 4" style="margin-top: 1rem" id="trainer" type=number name="trainer_id" class="form-select" required [(ngModel)]="dinoTrainer.id">
            <option value=""></option>
            <option *ngFor="let dinoTrainerItem of dinoTrainerList">
              {{dinoTrainerItem}}
            </option>
          </select>
        </div>
        <div class="col">
          <div class="col">
            <span *ngIf="dinoTrainer.taskStatusId == 0">
              <circle-progress [backgroundColor]="'gray'"></circle-progress>
            </span>
            <span *ngIf="dinoTrainer.taskStatusId == 1">
              <circle-progress [backgroundColor]="'yellow'"></circle-progress>
            </span>
            <span *ngIf="dinoTrainer.taskStatusId == 2">
              <circle-progress [backgroundColor]="'chartreuse'"></circle-progress>
            </span>
            <span *ngIf="dinoTrainer.taskStatusId == 3">
              <circle-progress [backgroundColor]="'green'"></circle-progress>
            </span>
            <span *ngIf="dinoTrainer.taskStatusId == 4">
              <circle-progress [backgroundColor]="'red'"></circle-progress>
            </span>
            <span *ngIf="dinoTrainer.taskStatusId == 5">
              <circle-progress [backgroundColor]="'gray'"></circle-progress>
            </span>
          </div>
        </div>
      </div>
      <div class="row text-center justify-content-center" style="margin-top: 0.5rem">
        <div class="col" style="margin-top: 1.25rem">Водитель</div>
        <div class="col">
          <select [disabled]="!f.value.dino_id && driver.taskStatusId != 4" style="margin-top: 1.2rem" id="driver" type=number name="driver_id" class="form-select" required [(ngModel)]="driver.id">
            <option value="">&nbsp;</option>
            <option *ngFor="let driverItem of driverList">
              {{driverItem}}
            </option>
          </select>
        </div>
        <div class="col">
          <span *ngIf="driver.taskStatusId == 0">
            <circle-progress [backgroundColor]="'gray'"></circle-progress>
          </span>
          <span *ngIf="driver.taskStatusId == 1">
            <circle-progress [backgroundColor]="'yellow'"></circle-progress>
          </span>
          <span *ngIf="driver.taskStatusId == 2">
            <circle-progress [backgroundColor]="'chartreuse'"></circle-progress>
          </span>
          <span *ngIf="driver.taskStatusId == 3">
            <circle-progress [backgroundColor]="'green'"></circle-progress>
          </span>
          <span *ngIf="driver.taskStatusId == 4">
            <circle-progress [backgroundColor]="'red'"></circle-progress>
          </span>
          <span *ngIf="driver.taskStatusId == 5">
            <circle-progress [backgroundColor]="'gray'"></circle-progress>
          </span>
        </div>
      </div>

      <div class="modal-footer" style="margin-top: 1rem">
<!--        <button *ngIf="!isRecomOn" class="btn btn-warning" style="float:left; margin-right: 60%;" (click)="switchRecommendation()">Использовать рекомендации</button>-->
<!--        <button *ngIf="isRecomOn" class="btn btn-warning" style="float:left; margin-right: 61%;" (click)="switchRecommendation()">Выключить рекомендации</button>-->
<!--        *ngIf="progressStatus.medic == 4 || progressStatus.dinoTrainer == 4 || progressStatus.driver == 4"-->
<!--        <div>-->
<!--&lt;!&ndash;          [disabled]="(medic.taskStatusId == 4 || dinoTrainer.taskStatusId == 4 || driver.taskStatusId == 4)"&ndash;&gt;-->
          <button style="margin-right: 80%; display: block; font-size: smaller" class="btn btn-danger" *ngIf="medic.taskStatusId != 0 && dinoTrainer.taskStatusId != 0 && driver.taskStatusId != 0" (click)="stopAllTasks()">Отменить запрос</button>
<!--        </div>-->
        <div>
          <button class="btn btn-warning" [disabled]="f.form.invalid || f.value['driver_id'] == '' || f.value['medic_id'] == '' || f.value['trainer_id'] == ''" *ngIf="(medic.taskStatusId == 4 || dinoTrainer.taskStatusId == 4 || driver.taskStatusId == 4)" (click)="resetSome(f.value)">Переназначить</button>
        </div>
        <button class="btn btn-primary" *ngIf="medic.taskStatusId == 2 && dinoTrainer.taskStatusId == 2 && driver.taskStatusId == 2" [disabled]="medic.taskStatusId != 2 || dinoTrainer.taskStatusId != 2 || driver.taskStatusId != 2" (click)="endTransportation()">Завершить</button>
        <button class="btn btn-primary" *ngIf="medic.taskStatusId == 3 && dinoTrainer.taskStatusId == 3 && driver.taskStatusId == 3" (click)="stopAllTasks()">Начать новую транспортировку</button>
        <button type="submit" data-dismiss="modal" id="submit" *ngIf="medic.taskStatusId == 0 && dinoTrainer.taskStatusId == 0 && driver.taskStatusId == 0" [disabled]="f.form.invalid || medic.taskStatusId != 0 || dinoTrainer.taskStatusId != 0 || driver.taskStatusId != 0" class="btn btn-primary" (click)="onSubmit(f.value)">Подтвердить</button>
      </div>
    </form>

    <div class="row line2">
      <div class="text-center">
        <button type="button" class="btn btn-success col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2" routerLink="/content">Назад</button>
      </div>
    </div>
  </div>

</div>
