<header>
  <div class="container" >
    <div class="row">
      <div class="col-12">
        <h2>Управление</h2>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container">
      <div class="row line1">
        <div class="text-center">
          <button type="button" class="btn btn-primary col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3" (click)="openMultiModal(multiModal, 1)">Отчитаться о медосмотре</button>
        </div>
      </div>
    <div class="row line">
      <div class="text-center">
        <button type="button" class="btn btn-primary col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3" (click)="openMultiModal(multiModal, 2)">Направить дино на лечение</button>
      </div>
    </div>
<!--    <div class="row">-->
<!--&lt;!&ndash;      <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
    <div class="row line2">
      <div class="text-center">
        <button type="button" class="btn btn-success col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2" routerLink="/content">Назад</button>
      </div>
    </div>
  </div>
</div>

<ng-template #multiModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{currentOperation}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="dino ID">Дино ИД</label>
        <div class="input-group">
          <input id="dino ID" name="id" class="form-control" required ngModel>
        </div>
        <div *ngIf="currentOperation === 'Отчет о медосмотре'">
          <label for="height">Рост (см)</label>
          <div class="input-group">
            <input id="height" name="height" class="form-control" required ngModel>
          </div>
          <label for="weight">Вес (кг)</label>
          <div class="input-group">
            <input id="weight" name="weight" class="form-control" required ngModel>
          </div>
          <label for="weight">Возраст</label>
          <div class="input-group">
            <select id="age" name="age" class="form-control" required ngModel>
              <option value="NewBorn">Новорожденный</option>
              <option value="Young">Молодой</option>
              <option value="Mature">Зрелый</option>
              <option value="Old">Пожилой</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Отменить</button>
    <button data-dismiss="modal" [disabled]="f.invalid" class="btn btn-primary" (click)="onSubmit(f)">Подтвердить</button>
  </div>
</ng-template>

<simple-notifications></simple-notifications>
