
header {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 2000px;
  padding-left: 10%;
  border: thin solid black;
  font-size: 4vw;
  background-color: orange;
  color: white;
}
p{
  text-content: center;
}
.row {
  padding: 2.5em;
}
.col-1, .col-2, .col-0 {
  font-size: 1.4vw;
  height: 3em;
  font-family: Roboto;
}
.col-1 {
  width: 15%;
  float: left;
  margin-left: 30%;
  margin-right: 5%;
}
.col-2 {
  width: 15%;
  float: left;
  margin-left: 5%;
  margin-right: 30%;
}
.col-0 {
  width: 24%;
  float: left;
  margin: 2% 40%;
}

@media only screen and (max-width: 600px){
  header {
    font-size: 7vw;
    height: 50px;
  }
  .row {
    padding: 2em;
  }
  .col-1, .col-2, .col-0 {
    font-size: 2.5vw;
  }
  .col-1 {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col-2 {
    width: 40%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
  }
  .col-0 {
    width: 40%;
    float: left;
    margin: 2% 30%;
  }
}
