/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-height: 480px;
  #max-width: 4000px;
  background-image: url('assets/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
