header{
  margin-top: 3rem;
  color: midnightblue;
}

table {
  height: 18rem;
  width: 50rem;
}

mat-paginator {
  width: 50rem;
}

.mat-form-field-infix {
  width: 10px;
}

.mat-row:hover .mat-cell{
  background-color: #fff5a2;
}
